.loader {
    width: 108px;
    height: 108px;
    margin-left: 20px;
    background-image: url("loading.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}